@charset "UTF-8";
/* Typical Device Breakpoints
Pequenas telas: até 600px Celular: de 600px até 768px Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/
body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh; /* Define a altura mínima do corpo para 100% da altura da viewport */
    display: flex;
    flex-direction: column;
}
header {
    background-image:linear-gradient(to bottom,  rgba(255, 255, 0, 0.693), rgba(0, 255, 98, 0.66));
    color: #fff;
    padding: 20px 0;
    text-align: center;
    height: 100px;
    
}
main {
    /*flex: 1;  Faz o conteúdo principal crescer para ocupar o espaço restante
            com essa configuração o footer fica sompre encostado em baixo */
    border: 1px solid black;
    text-align: center;
    margin: 20px;
    height: 500px;
}
.logo img {
    max-width: 160px;
}


footer {
    background-image:linear-gradient(to bottom,  rgba(255, 255, 0, 0.693), rgba(0, 255, 98, 0.66));
    color: #fff;
    text-align: center;
    padding: 20px;
}
#conteudoheader{
    display: none;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 600px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    margin-top: 60px;
}
#conteudoheader :hover{
    background-color: rgb(184, 184, 184);
}
#conteudoheader {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#menu {
    float: left;
    position: absolute;
}
#men{
    float: left;
    margin-top: -15px;
}
#men :hover{
    background-color: white;
}
iframe{
    border: none;
    width: 90%;
    height: 300px;
    min-width: 100px;
}
menu{
    width: 100px;
}
#boletosh{
    user-select: none;
    display: none;
}
#menuid{
    width: 30px;
}
@media screen and (max-width: 768px) {
    #men{
        display: none;
    }
    #conteudoheader{
        display: none;
    }
    #conteudo{
        display: block;
        margin: auto;
        text-decoration: none;
        text-align: center;
        height: 30px;
        width: 150px;
        background-color: rgb(46, 149, 46);
        color: white;
        border-radius: 10px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        user-select: none;
    }
    #conteudo:hover{
        background-color: rgb(81, 255, 81);
    }
    main{
        height:auto;
    }
}
